//! **************************************************************************
// Written by: Map P.68d on Mon Feb 01 22:00:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Aout<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Aout<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Aout<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Aout<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "SEL<0>" LOCATE = SITE "C4" LEVEL 1;
COMP "SEL<1>" LOCATE = SITE "D9" LEVEL 1;
COMP "SEL<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "POS<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "POS<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "POS<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "POS<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "a<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "a<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "Bout<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "SS<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "a<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "Bout<1>" LOCATE = SITE "N11" LEVEL 1;
COMP "SS<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "a<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "Bout<2>" LOCATE = SITE "R11" LEVEL 1;
COMP "SS<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "b<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "Bout<3>" LOCATE = SITE "T11" LEVEL 1;
COMP "SS<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "b<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "SS<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "b<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "SS<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "b<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "SS<6>" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

