# Switches
NET a(0) LOC=T10;
NET a(1) LOC=T9;
NET a(2) LOC=V9;
NET a(3) LOC=M8;
NET b(0) LOC=N8;
NET b(1) LOC=U8;
NET b(2) LOC=V8;
NET b(3) LOC=T5;

# LEDS
NET Aout(0) LOC=U16;
NET Aout(1) LOC=V16;
NET Aout(2) LOC=U15;
NET Aout(3) LOC=V15;
NET Bout(0) LOC=M11;
NET Bout(1) LOC=N11;
NET Bout(2) LOC=R11;
NET Bout(3) LOC=T11;

#Select lines
NET SEL(0) LOC=C4;
NET SEL(1) LOC=D9;
NET SEL(2) LOC=B8;

# 7 Seg 
NET SS(6) LOC=T17;
NET SS(5) LOC=T18;
NET SS(4) LOC=U17;
NET SS(3) LOC=U18;
NET SS(2) LOC=M14;
NET SS(1) LOC=N14;
NET SS(0) LOC=L14;

NET POS(0) LOC=N16;
NET POS(1) LOC=N15;
NET POS(2) LOC=P18;
NET POS(3) LOC=P17;
